In [1]:
import numpy as np
import pandas as pd
import os
import csv

In [8]:
csvpath = "County_info.csv"
cities= pd.read_csv(csvpath)
cities

,RegionID,SizeRank,RegionName,RegionName2,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,...,10/31/19,11/30/19,12/31/19,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,7/31/20
0,3101,0,Los Angeles County,Los Angeles,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,...,631450,633373,636620,639983,645447,650877,655589,657455,658836,664094
1,139,1,Cook County,Cook,County,IL,IL,Chicago-Naperville-Elgin,17,31,...,248414,248122,247915,247925,248136,248548,248838,249194,249714,250814
2,1090,2,Harris County,Harris,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,...,200198,200692,201230,201360,201790,202689,203762,204598,205096,205702
3,2402,3,Maricopa County,Maricopa,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,...,292676,294735,297121,299473,301627,304151,307591,310595,313263,315783
4,2841,4,San Diego County,San Diego,County,CA,CA,San Diego-Carlsbad,6,73,...,612972,615771,619048,623541,627005,630889,633214,636054,637310,639238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852,425,3101,Camas County,Camas,County,ID,ID,Hailey,16,25,...,120391,121292,122184,123119,123611,123799,124029,124508,125039,125683
2853,1648,3102,Daggett County,Daggett,County,UT,UT,NaN,49,9,...,209722,210257,210202,210193,210127,210629,210902,211365,211801,212864
2854,2345,3112,Hinsdale County,Hinsdale,County,CO,CO,NaN,8,53,...,330363,331253,331744,332152,332593,333098,332018,331755,331616,332733
2855,1933,3122,Mineral County,Mineral,County,CO,CO,NaN,8,79,...,283733,283414,282863,282891,283029,283264,283064,283001,282851,282782
2856,2518,3124,San Juan County,San Juan,County,CO,CO,NaN,8,111,...,291006,291889,292516,293219,293803,293997,294026,293945,294107,293988

In [10]:
cities=cities.drop(['RegionID','SizeRank','RegionName'],axis=1)
print(cities)

      RegionName2 RegionType StateName State  \
0     Los Angeles     County        CA    CA
1            Cook     County        IL    IL
2          Harris     County        TX    TX
3        Maricopa     County        AZ    AZ
4       San Diego     County        CA    CA
...           ...        ...       ...   ...
2852        Camas     County        ID    ID
2853      Daggett     County        UT    UT
2854     Hinsdale     County        CO    CO
2855      Mineral     County        CO    CO
2856     San Juan     County        CO    CO

                                 Metro  StateCodeFIPS  MunicipalCodeFIPS  \
0       Los Angeles-Long Beach-Anaheim              6                 37
1             Chicago-Naperville-Elgin             17                 31
2     Houston-The Woodlands-Sugar Land             48                201
3              Phoenix-Mesa-Scottsdale              4                 13
4                   San Diego-Carlsbad              6                 73
...                                ...            ...                ...
2852                            Hailey             16                 25
2853                               NaN             49                  9
2854                               NaN              8                 53
2855                               NaN              8                 79
2856                               NaN              8                111

       1/31/96   2/29/96   3/31/96  ...  10/31/19  11/30/19  12/31/19  \
0     175538.0  175575.0  175643.0  ...    631450    633373    636620
1     151180.0  150957.0  150611.0  ...    248414    248122    247915
2     100916.0  100999.0  101011.0  ...    200198    200692    201230
3     117969.0  118302.0  118679.0  ...    292676    294735    297121
4     184765.0  184406.0  184209.0  ...    612972    615771    619048
...        ...       ...       ...  ...       ...       ...       ...
2852       NaN       NaN       NaN  ...    120391    121292    122184
2853       NaN       NaN       NaN  ...    209722    210257    210202
2854       NaN       NaN       NaN  ...    330363    331253    331744
2855       NaN       NaN       NaN  ...    283733    283414    282863
2856       NaN       NaN       NaN  ...    291006    291889    292516

      1/31/20  2/29/20  3/31/20  4/30/20  5/31/20  6/30/20  7/31/20
0      639983   645447   650877   655589   657455   658836   664094
1      247925   248136   248548   248838   249194   249714   250814
2      201360   201790   202689   203762   204598   205096   205702
3      299473   301627   304151   307591   310595   313263   315783
4      623541   627005   630889   633214   636054   637310   639238
...       ...      ...      ...      ...      ...      ...      ...
2852   123119   123611   123799   124029   124508   125039   125683
2853   210193   210127   210629   210902   211365   211801   212864
2854   332152   332593   333098   332018   331755   331616   332733
2855   282891   283029   283264   283064   283001   282851   282782
2856   293219   293803   293997   294026   293945   294107   293988

[2857 rows x 302 columns]

In [11]:
cities=cities.drop(["RegionType","StateName","State","Metro","StateCodeFIPS","MunicipalCodeFIPS","1/31/96","2/29/96","3/31/96","4/30/96","5/31/96","6/30/96","7/31/96","8/31/96","9/30/96","10/31/96","11/30/96","12/31/96","1/31/97","2/28/97","3/31/97","4/30/97","5/31/97","6/30/97","7/31/97","8/31/97","9/30/97","10/31/97","11/30/97","12/31/97","1/31/98","2/28/98","3/31/98","4/30/98","5/31/98","6/30/98","7/31/98","8/31/98","9/30/98","10/31/98","11/30/98","12/31/98","1/31/99","2/28/99","3/31/99","4/30/99","5/31/99","6/30/99","7/31/99","8/31/99","9/30/99","10/31/99","11/30/99","12/31/99","1/31/00","2/29/00","3/31/00","4/30/00","5/31/00","6/30/00","7/31/00","8/31/00","9/30/00","10/31/00","11/30/00","12/31/00","1/31/01","2/28/01","3/31/01","4/30/01","5/31/01","6/30/01","7/31/01","8/31/01","9/30/01","10/31/01","11/30/01","12/31/01","1/31/02","2/28/02","3/31/02","4/30/02","5/31/02","6/30/02","7/31/02","8/31/02","9/30/02","10/31/02","11/30/02","12/31/02","1/31/03","2/28/03","3/31/03","4/30/03","5/31/03","6/30/03","7/31/03","8/31/03","9/30/03","10/31/03","11/30/03","12/31/03","1/31/04","2/29/04","3/31/04","4/30/04","5/31/04","6/30/04","7/31/04","8/31/04","9/30/04","10/31/04","11/30/04","12/31/04","1/31/05","2/28/05","3/31/05","4/30/05","5/31/05","6/30/05","7/31/05","8/31/05","9/30/05","10/31/05","11/30/05","12/31/05","1/31/06","2/28/06","3/31/06","4/30/06","5/31/06","6/30/06","7/31/06","8/31/06","9/30/06","10/31/06","11/30/06","12/31/06","1/31/07","2/28/07","3/31/07","4/30/07","5/31/07","6/30/07","7/31/07","8/31/07","9/30/07","10/31/07","11/30/07","12/31/07","1/31/08","2/29/08","3/31/08","4/30/08","5/31/08","6/30/08","7/31/08","8/31/08","9/30/08","10/31/08","11/30/08","12/31/08","1/31/09","2/28/09","3/31/09","4/30/09","5/31/09","6/30/09","7/31/09","8/31/09","9/30/09","10/31/09","11/30/09","12/31/09","1/31/10","2/28/10","3/31/10","4/30/10","5/31/10","6/30/10","7/31/10","8/31/10","9/30/10","10/31/10","11/30/10","12/31/10","1/31/11","2/28/11","3/31/11","4/30/11","5/31/11","6/30/11","7/31/11","8/31/11","9/30/11","10/31/11","11/30/11","12/31/11","1/31/12","2/29/12","3/31/12","4/30/12","5/31/12","6/30/12","7/31/12","8/31/12","9/30/12","10/31/12","11/30/12","12/31/12"],axis=1)
print(cities)

      RegionName2   1/31/13   2/28/13   3/31/13   4/30/13   5/31/13   6/30/13  \
0     Los Angeles  390772.0  398166.0  405575.0  414911.0  422488.0  430180.0
1            Cook  180758.0  182445.0  183171.0  184436.0  185395.0  187861.0
2          Harris  131673.0  132577.0  134088.0  135858.0  137501.0  138692.0
3        Maricopa  179616.0  181306.0  184402.0  186439.0  188479.0  191136.0
4       San Diego  395630.0  400373.0  406341.0  414274.0  422482.0  430485.0
...           ...       ...       ...       ...       ...       ...       ...
2852        Camas   82097.0   81827.0   81624.0   81734.0   81974.0   82101.0
2853      Daggett  129224.0  129941.0  130694.0  131394.0  132458.0  134013.0
2854     Hinsdale       NaN       NaN       NaN       NaN       NaN       NaN
2855      Mineral       NaN       NaN       NaN       NaN       NaN       NaN
2856     San Juan  221337.0  222025.0  222822.0  223905.0  225324.0  227189.0

       7/31/13   8/31/13   9/30/13  ...  10/31/19  11/30/19  12/31/19  \
0     437808.0  447415.0  455616.0  ...    631450    633373    636620
1     190291.0  193104.0  195067.0  ...    248414    248122    247915
2     139837.0  141046.0  142432.0  ...    200198    200692    201230
3     194702.0  197700.0  200090.0  ...    292676    294735    297121
4     438926.0  448272.0  453554.0  ...    612972    615771    619048
...        ...       ...       ...  ...       ...       ...       ...
2852   82671.0   83428.0   83961.0  ...    120391    121292    122184
2853  135827.0  137828.0  139124.0  ...    209722    210257    210202
2854       NaN       NaN       NaN  ...    330363    331253    331744
2855       NaN       NaN       NaN  ...    283733    283414    282863
2856  228128.0  228502.0  228157.0  ...    291006    291889    292516

      1/31/20  2/29/20  3/31/20  4/30/20  5/31/20  6/30/20  7/31/20
0      639983   645447   650877   655589   657455   658836   664094
1      247925   248136   248548   248838   249194   249714   250814
2      201360   201790   202689   203762   204598   205096   205702
3      299473   301627   304151   307591   310595   313263   315783
4      623541   627005   630889   633214   636054   637310   639238
...       ...      ...      ...      ...      ...      ...      ...
2852   123119   123611   123799   124029   124508   125039   125683
2853   210193   210127   210629   210902   211365   211801   212864
2854   332152   332593   333098   332018   331755   331616   332733
2855   282891   283029   283264   283064   283001   282851   282782
2856   293219   293803   293997   294026   293945   294107   293988

[2857 rows x 92 columns]

In [14]:
cities.columns

Index(['RegionName2', '1/31/13', '2/28/13', '3/31/13', '4/30/13', '5/31/13',
       '6/30/13', '7/31/13', '8/31/13', '9/30/13', '10/31/13', '11/30/13',
       '12/31/13', '1/31/14', '2/28/14', '3/31/14', '4/30/14', '5/31/14',
       '6/30/14', '7/31/14', '8/31/14', '9/30/14', '10/31/14', '11/30/14',
       '12/31/14', '1/31/15', '2/28/15', '3/31/15', '4/30/15', '5/31/15',
       '6/30/15', '7/31/15', '8/31/15', '9/30/15', '10/31/15', '11/30/15',
       '12/31/15', '1/31/16', '2/29/16', '3/31/16', '4/30/16', '5/31/16',
       '6/30/16', '7/31/16', '8/31/16', '9/30/16', '10/31/16', '11/30/16',
       '12/31/16', '1/31/17', '2/28/17', '3/31/17', '4/30/17', '5/31/17',
       '6/30/17', '7/31/17', '8/31/17', '9/30/17', '10/31/17', '11/30/17',
       '12/31/17', '1/31/18', '2/28/18', '3/31/18', '4/30/18', '5/31/18',
       '6/30/18', '7/31/18', '8/31/18', '9/30/18', '10/31/18', '11/30/18',
       '12/31/18', '1/31/19', '2/28/19', '3/31/19', '4/30/19', '5/31/19',
       '6/30/19', '7/31/19', '8/31/19', '9/30/19', '10/31/19', '11/30/19',
       '12/31/19', '1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20',
       '6/30/20', '7/31/20'],
      dtype='object')

In [15]:
cities2= pd.melt(cities, id_vars=['RegionName2'], value_vars=[ '1/31/13', '2/28/13', '3/31/13', '4/30/13', '5/31/13',
       '6/30/13', '7/31/13', '8/31/13', '9/30/13', '10/31/13', '11/30/13',
       '12/31/13', '1/31/14', '2/28/14', '3/31/14', '4/30/14', '5/31/14',
       '6/30/14', '7/31/14', '8/31/14', '9/30/14', '10/31/14', '11/30/14',
       '12/31/14', '1/31/15', '2/28/15', '3/31/15', '4/30/15', '5/31/15',
       '6/30/15', '7/31/15', '8/31/15', '9/30/15', '10/31/15', '11/30/15',
       '12/31/15', '1/31/16', '2/29/16', '3/31/16', '4/30/16', '5/31/16',
       '6/30/16', '7/31/16', '8/31/16', '9/30/16', '10/31/16', '11/30/16',
       '12/31/16', '1/31/17', '2/28/17', '3/31/17', '4/30/17', '5/31/17',
       '6/30/17', '7/31/17', '8/31/17', '9/30/17', '10/31/17', '11/30/17',
       '12/31/17', '1/31/18', '2/28/18', '3/31/18', '4/30/18', '5/31/18',
       '6/30/18', '7/31/18', '8/31/18', '9/30/18', '10/31/18', '11/30/18',
       '12/31/18', '1/31/19', '2/28/19', '3/31/19', '4/30/19', '5/31/19',
       '6/30/19', '7/31/19', '8/31/19', '9/30/19', '10/31/19', '11/30/19',
       '12/31/19', '1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20',
       '6/30/20', '7/31/20'])

In [16]:
cities2

        RegionName2 variable     value
0       Los Angeles  1/31/13  390772.0
1              Cook  1/31/13  180758.0
2            Harris  1/31/13  131673.0
3          Maricopa  1/31/13  179616.0
4         San Diego  1/31/13  395630.0
...             ...      ...       ...
259982        Camas  7/31/20  125683.0
259983      Daggett  7/31/20  212864.0
259984     Hinsdale  7/31/20  332733.0
259985      Mineral  7/31/20  282782.0
259986     San Juan  7/31/20  293988.0

[259987 rows x 3 columns]

In [19]:
cities2.to_csv('cities2.csv')